::-webkit-scrollbar              { 

background-color: rgb(161, 159, 159);
width: 1px;
 
 }


*{

    scrollbar-color: rgb(161, 159, 159);
  scrollbar-width: thin;

} 

html{

  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
}